#list{
    border-radius: 10px;
    border: none;
    height: 30%;
    width: 200px;
    padding: 10px;
    font-size: 15px;

};

.btn-send {
    width: 100px;
    height: 35px;
    background-color: #5e6f64;
    margin: 10px;
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Noto Serif', serif;
    border-radius: 10px;
    border: none;
    outline: none;
}

.addItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

@media (mind-width :1200){
    #list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}


