#list{
    border-radius: 10px;
    border: none;
    height: 2rem;
    width: 15rem;
    padding: 10px;
    font-size: 20px;
    // border: solid 3px #4f8a8b;
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    // background-color: #6ebfb5;
    
}

.btn-send {
    width: 80px;
    height: 2rem;
    background-color: #ff5f40;
    margin: 10px;
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 10px;
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    border: none;
    
}

.componenteSend{
    display: flex;
  
}


