.item{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 15rem;
    margin: 5px;
    border-radius: 16px;
    padding: 5px;
    color: #ba7967;
}

.btn-item {
    height: 18px;
    width: 18px;
    
}